In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("db.sqlite3")
cur = conn.cursor()

In [3]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('Users',)]

In [13]:
# cur.execute("DROP TABLE Users")
# conn.commit()

In [8]:
cur.execute("DELETE FROM Users")
conn.commit()

In [9]:
final_df = pd.read_sql('SELECT * FROM Users',conn)
final_df

Empty DataFrame
Columns: [id, username, email, password, wallet, first_name, last_name, birthday, gender, phone]
Index: []

In [6]:
list(final_df.username)

['dokylee']

In [7]:
# pd.read_sql("SELECT * FROM Users where id='2'",conn).first_name.values[0] == None