In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("/home/site/flask-volt-dashboard/apps/db.sqlite3")
cur = conn.cursor()

In [14]:
from web3 import Web3
BLOCKCHAIN_ADR = "http://175.45.201.73:8505"
w3 = Web3(Web3.HTTPProvider(BLOCKCHAIN_ADR))

In [8]:
user_data = pd.read_sql('SELECT * FROM Users', conn)

In [9]:
user_data

,id,username,email,password,wallet,first_name,last_name,birthday,gender,phone
0,1,dokylee,dokylee54@gmail.com,b'beeb178448759383444b0b205780bf1c9c3d2a5fa8f1...,0xbe52007ee56Ed5AB7633e4852a2502Ad70dF1762,doky,last-user1,20220922,M,01035222227
1,2,user1,user1@gmail.com,b'63c43725f7c50be5279ca5e69fc7d0a61ef9ea776a6a...,0x247caD7e349f9896c646f85Ae64eEDA109cb5bb4,None,None,None,None,None
2,3,user2,user2@gmail.com,b'd67169ebe6caad42bef718beeefa266a244d5238ea53...,0x918D33b661602c8E5B19eDcc25A0e77D5E4e7C8e,None,None,None,None,None
3,4,user3,user3@gmail.com,b'85d0360ba02e2144ca7dd4b05a16abf99d2490178c84...,0x5bFDD9eBFec41Ee9934fd57c414fF67356954aE3,None,None,None,None,None
4,5,lsi8505,lsi8505@hanmail.net,b'0fd4e7f1720f622143c40f830fbf2aaeb064a486fdea...,0x052e6C3ee43219CB134714AeA16cC44BA9b760E1,None,None,None,None,None
5,6,lsi429,lsi429@naver.com,b'54fca8337365ac82a4ffa2d12258b4579e4452895763...,0xD56a953478DeF80377e5717e6a4bf1C70174A7dA,None,None,None,None,None

In [19]:
user_data.iloc[-1,3]

b'54fca8337365ac82a4ffa2d12258b4579e4452895763ca9e589995cdf8aac636b5374ed74049247b4b054bedd44c1aee9f0e6a1a855cce3ada8ddd5edf39736043125784563353c1360d2defb191bbf28b47b66e41437171a392a106e600b8d3'

In [13]:
def get_points(wallet):
    my_points =  Web3.fromWei(w3.eth.getBalance(wallet), 'ether')
    return my_points

user_data['points'] = user_data['wallet'].apply(get_points)

In [14]:
user_data

,id,username,email,password,wallet,first_name,last_name,birthday,gender,phone,points
0,1,user1,user1@gmail.com,b'7f43610d8ea6de628eae62b6e894d2ccdce83e68e0a7...,0x4d7d0907D71789A5f5D9FA7C474154D99629392b,None,None,None,None,None,0
1,2,user2,user2@gmail.com,b'973967d8827fe6eadde5a04a098786a1de00c6712188...,0xF90cDB41C378303A592BcaC56060B0c56c3C2C68,None,None,None,None,None,0

In [11]:
import os

In [12]:
os.getcwd()

'/home/site/flask-volt-dashboard/apps/home'

In [17]:
encrypted_key

'{"address":"d56a953478def80377e5717e6a4bf1c70174a7da","crypto":{"cipher":"aes-128-ctr","ciphertext":"3471b170d20ba3b2c248d1eac44dc55491fbd3091d5748f0078ed24a3ac9a0ce","cipherparams":{"iv":"ceabf798971fe9e1ec254b470f20aa43"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":262144,"p":1,"r":8,"salt":"f23bedb191d780f1c981ea1c1d43e8a240db936ccbc52aae9384dd3b084547eb"},"mac":"3832a46dd2b3e7b7942b1dc6408cb0af76a43c22d2dc3f4ecea1879514e8275c"},"id":"bd7227c8-2213-466c-9acd-275e20ea12cc","version":3}'

In [22]:
with open('/home/private-geth/data/keystore/UTC--2022-09-22T09-54-53.930040175Z--d56a953478def80377e5717e6a4bf1c70174a7da') as keyfile:
    encrypted_key = keyfile.read()
    private_key = w3.eth.account.decrypt(encrypted_key, 'lsi429')
private_key

HexBytes('0x8832956a997ef12b727466774f306ca2f25df4f169823ab25e1602a3a35b8b0d')